.logoHeader{
    height:150px;

}
.title{

    margin-right: auto;
    color: #C32BAD;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    padding-top: 8px;

}
.title:hover{
    text-decoration: none;
    color: #C32BAD;

}

.addButtonFlight{
  margin-right: 500px;
  background-color: #5e2ced;
}

.addButtonUser{
  margin-right: 499px;
  background-color: #5e2ced;
}

.navbar-toggler-icon{
  overflow: visible !important;
  position: fixed !important;
  color: black !important;
  z-index: -1;
}
.dropdown-menu{
  overflow: visible !important;
  position: fixed !important;
  color: black !important;
  z-index: -1;
}
.navbar-inner {
  background-color:transparent;
}
