.logoHeader{

    height:150px;
    object-position: left bottom;

    height:100px;


}
.title{

    margin-right: auto;
    color: #C32BAD;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    padding-top: 8px;

}
.title:hover{
    text-decoration: none;
    color: #C32BAD;

}

.addButtonFlight{
  margin-right: 500px;
  background-color: #5e2ced;
}

.addButtonUser{
  margin-right: 499px;
  background-color: #5e2ced;
}

.navbar-toggler-icon{
  overflow: visible !important;
  position: fixed !important;
  color: white !important;
  z-index: -1;
}
.dropdown-menu{
  overflow: visible !important;
  position: fixed !important;
  color: white !important;
  z-index: -1;
}
.navbar-inner {
  background-color:transparent;
}
.navbar-custom {
  background-color: #5e2ced;
}

.navbar-custom .navbar-text {
  color: white;
}
.nav-item{
  text-decoration: none !important;
}

a:hover {
  cursor:pointer;
  transform: scale(1.1);
 }
