
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Megrim&family=Prata&display=swap" rel="stylesheet">


<nav class="navbar navbar-expand-lg navbar-light navbar-custom navbar-text nav justify-content-end">
  <div class="container-fluid">
    <a href="#"><img src="../../../assets/tgAirLogoWhite.png" height="35"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-text navbar-custom nav justify-content-end">
        <a class="nav-link" routerLink="/profile" style="color: white">Profile</a>
          <a class="nav-item">
          <span *ngIf="auth.isAuthenticated$ | async" style="color: white" class="nav-link" (click)="logout()">Log out</span> </a>
                  <a class="nav-item">
                    <span *ngIf="(auth.isAuthenticated$ | async) == false" style="color: white" class="nav-link" (click)="loginWithRedirect()">Log in</span>
                  </a>
      </div>
    </div>
  </div>
</nav>


