

<div id="booking" class="section">
  <img class="logoHeader" src="assets/tgAir.png" alt="logo">
  <a class="navbar-brand title" href="#">TogethAir</a>
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form id="flightSearchForm" class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)" ngModel>
                        <div class="form-group">
                            <div class="form-checkbox">
                                <label for="roundtrip" >
                                    <input [value]="true" [(ngModel)]="options" type="radio" id="roundtrip" name="roundtrip" (change)="options=true" required>
                                    <span></span>Roundtrip
                                </label>
                                <label for="one-way">
                                    <input [value]="false" [(ngModel)]="options" type="radio" id="one-way" name="roundtrip"  (change)="options=false" >
                                    <span></span>One way
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Flying from</span>
                                    <input ngModel name="departureAirport" class="form-control" list="departureListOptions" placeholder="City or airport" (keydown)="searchAirport($event,'departure')" id="departureList" required>
                                    <datalist id="departureListOptions">
                                        <option *ngFor="let airport of departAirports" value="{{airport.name + ' - ' + airport.cityName + ' - ' + airport.countryName}}">
                                      </datalist>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Flying to</span>
                                    <input ngModel name="destinationAirport" class="form-control" placeholder="City or airport"  list="arrivalListOptions" (keydown)="searchAirport($event,'arrival')" id="arrivalList" required>
                                    <datalist id="arrivalListOptions">
                                        <option *ngFor="let airport of arrivalAirports" value="{{airport.name + ' - ' + airport.cityName + ' - ' + airport.countryName}}">
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Departing</span>
                                    <input ngModel name="departureTime" class="form-control" type="datetime-local" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" *ngIf="options">
                                    <span class="form-label">Returning</span>
                                    <input ngModel name="destinationTime" class="form-control" type="datetime-local" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label">Adults (18+)</span>
                                    <select ngModel name="adults" class="form-control" required>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label">Children (0-17)</span>
                                    <select ngModel name="children" class="form-control" required>
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Travel class</span>
                                    <select ngModel name="flightClass" class="form-control" required>
                                        <option value="ECONOMY_CLASS">Economy class</option>
                                        <option value="BUSINESS_CLASS">Business class</option>
                                        <option value="FIRST_CLASS">First class</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-btn">
                                    <button class="submit-btn" type="submit">Show flights</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
